<h1>genesis.re</h1>
<h3>long-term sustainability and resilience</h3>

<div class="tile">
  <div class="title"><a href="http://genesis.re/wiki">genesis.re/wiki</a></div>
  <div class="description">Read more about core values and our vision</div>
</div>

<div class="tile">
  <div class="title"><a href="http://MichalStefanow.com">MichalStefanow.com</a></div>
  <div class="description">Personal page with links to social media profiles.</div>
</div>

<div class="tile">
  <div class="title"><a href="http://stefanow.net">stefanow.net</a></div>
</div>

<div class="tile">
  <div class="title"><a href="https://MailHustle.com">MailHustle.com</a></div>
</div>

<div class="tile">
  <div class="title"><a href="http://HackerYoga.com">HackerYoga.com</a></div>
</div>

<div class="tile">
  <div class="title"><a href="http://iamthespecialist.com">iamthespecialist.com</a></div>
  <div class="description">Pretentious name that was fun in 2011 but can't be bothered to change. My technical blog.</div>
</div>

<div class="tile">
  <div class="title"><a href="http://wardyworks.co.uk">wardyworks.co.uk</a></div>
  <div class="description">Alexander Ward - author of the visionary artwork.</div>
</div>