.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  background: url(https://i.imgur.com/HFDc8be.jpg) no-repeat center center fixed;
  background-size: cover;
}
* {
  color: white;
}
article {
  background: rgba(0, 0, 0, 0.75);
  max-width: 850px;
  margin: 0 auto;
}
article a {
  color: white;
  text-decoration: none;
}
article a header {
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin: 15px 0 0 15px;
}
article a header img.logo {
  float: left;
  margin-right: 20px;
  height: 80px;
}
article a header h1 {
  margin-top: 0;
}
article a header h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.tiles {
  display: inline-block;
  padding: 5px 0;
}
.tiles .tile {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  margin: 5px 10px 5px 0;
  color: white;
}
.tiles .tile:nth-of-type(4n+1) {
  margin-left: 10px;
}
.tiles .tile .tile-content {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
}
.tiles .tile .tile-content .title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}
.tiles .tile .tile-content .title a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  transition: all 500ms ease-out;
}
.tiles .tile .tile-content .title a:hover {
  color: grey;
  border-bottom: 3px solid grey;
}
#stripe-form {
  height: 35px;
}
#stripe-button {
  box-shadow: rgba(255, 255, 255, 0.247059) 0px 1px 0px 0px inset;
  color: #ffffff;
  cursor: pointer;
  display: block;
  height: 30px;
  min-height: 30px;
  position: relative;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
  width: 140px;
  align-self: flex-start;
  perspective-origin: 58.5312px 15px;
  transform-origin: 58.5312px 15px;
  background: #1275ff linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4) repeat scroll 0% 0% auto padding-box border-box;
  border: 0px none #ffffff;
  border-radius: 4px 4px 4px 4px;
  font: normal normal bold normal 14px / 30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: #ffffff none 0px;
  padding: 0px 12px;
  text-decoration: none;
}
